@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
body {
  overflow-x: hidden;
}


.Homepage-Box {
  width: 100vw;
  height: 100vh;
}


.homePageContentBox {
  width: 100%;
  height: 100%;
  padding: 10% 5% 0 5%;
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  flex-direction: column;

  h1{
    font-size: 5vmax;
    font-weight: 600;
    font-family:Poppins ;
    
  };

  span{
    color: #fff700;
  };
  h2{
    font-size: 16px;
    font-weight: 600;
    font-family:Lexend ;
    color: #ffffff;
  }
}
.Homepage2-Box {
  width: 100vw;
  h1 {
    font-size: 40px;
    font-weight: 800;
    font-family: Roboto;
  }
}




.wrawrapperCardFacilitypper {
  display: flex;
  width: 100vw;
  height: auto;
  justify-content: space-around;
}

.Facilitycard {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-start;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.Facilitycard:hover {
  transform: translateY(20px);
}

.Facilitycard:hover:before {
  opacity: 1;
}

.Facilitycard:hover .Facilityinfo {
  opacity: 1;
  transform: translateY(0px);
}

.Facilitycard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.Facilitycard img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}

.Facilitycard .Facilityinfo {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}

.Facilitycard .Facilityinfo h1 {
  margin: 0px;
}

.Facilitycard .Facilityinfo li {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
@media screen and (max-width:700px){
  .homeBg{
    display: none;
  }
  
.Homepage-Box {
background-image: url("../Image/mobileBg2.jpeg");
background-size: 100% 100%;
}
.homePageContentBox {
  h1{
    color: black
  };
  h2{
    color: #000000;
  }
}
}
@media screen and (max-width:400px){
  .homePageContentBox { 
    h2{
      font-size: 12px;
    }
  }
  
.Facilitycard {
  width: 250px;
  height: 300px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-start;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

}
